# STM32CubeIDE build folders
Debug/
Release/

# Object and binary files
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.lst
*.axf

# STM32CubeMX generated database and backup
*.db
*.log
*.ioconfig

# IDE project files (optional if you don't want to share)
.cproject
.project
.settings/

# Backup or temp files
*~
*.swp
*.bak

# VS Code folder (optional)
.vscode/



